bitstring==3.1.9
bleak==0.12.1
cycler==0.10.0
enum-compat==0.0.3
freetype-py==2.2.0
hsluv==5.0.2
joblib==1.0.1
kiwisolver==1.3.1
matplotlib==3.4.3
mne==0.23.0
numpy==1.21.1
pandas==1.3.1
pexpect==4.8.0
Pillow==8.3.1
ptyprocess==0.7.0
pygatt==4.0.5
pylsl==1.15.0
pyobjc-core==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-libdispatch==7.3
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.1
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.1
six==1.16.0
sklearn==0.0
threadpoolctl==2.2.0
vispy==0.7.3
